/* Responsive design */
@media screen and (max-width:576px){

    .header, .main{
        max-width: none;
      width: 100%;
    }
    .logo-title, .contact-btnn, .contact-btn, .manu-list{
        display: none;
        
    }

    .nav-bar{
        border-bottom:1px solid #fea301;
        padding:2% 5% ;
    }
    .logo-imag{
        align-items: flex-start;
    }
    .hero{
        flex-direction: column-reverse;
        width: 80%;
        
    }
    .hero-section{
        align-items: center;
        text-align: center;
        margin-left: 12%;
        
        
    }
    .hero-img{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .hero-title{
        font-size: 25px;
        text-align: center;
        
    }
    .hero-des{
        width: 250px;
        text-align: center;
        font-size: 10px;

    }
    .card-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;


    }
    .card{
        width: 80%;
        text-align:center;
    }
    .cardbox{
        display: inline-block;
    }
    .card-in-title{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }
    .card-des{
        font-size: .6rem;
        font-weight: 500;       
    }
    .card-ime{       
        width: 100px;
        margin-top: 20px;   
    }

    
        
    
    
}
