/* Responsive design */
@media screen and (max-width:576px){

    .header, .main{
        max-width: none;
      width: 100%;
    }
    .logo-title, .contact-btnn, .contact-btn, .manu-list{
        display: none;
        
    }

    .nav-bar{
        border-bottom:1px solid #fea301;
        width: 100%;
        margin-top: 10px;
        
    } 
    .logo-imag{
        display:none;
    }
    .mobile-nav{
       width: 98%;
        display: flex;
        margin-left: 0; 
        align-items: center;
        justify-content: center;
       
    }
    .mobile-nav-icon{
        width: 60px;
        
    }
    #mobile-navs{
        width: 100%;
        
    }
    .mobile-nav-icon{
        margin-left: 0%;
        margin-right: -70px;

    }
    .m-nav-img{
        margin-right: 60%;
        margin-left: -70px;
        

    }

    



    .hero{
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .hero-section{
        align-items: center;
        text-align: center;
        margin-left: 12%;
        
        
    }
    .hero-img{
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .hero-title{
        font-size: 30px;
        text-align: center;
        
    }
    .hero-des{
        width: 250px;
        text-align: center;
        font-size: 10px;
        align-items: center;
        margin-left: 5%;

    }
    .card-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;


    }
    .card{
        width: 100%;
        text-align:center;
    }
    .cardbox{
        display: inline-block;
    }
    .card-in-title{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }
    .card-des{
        font-size: .6rem;
        font-weight: 500;       
    }
    .card-ime{       
        width: 100px;
        margin-top: 20px;   
    }
    .card-lest-btn{
        display: none;
    }

    /* story section responsive */

    .full-story{
        width: 100%;
        text-align: center;
    }
    .store-two{
    display: grid;
    grid-template-columns: repeat(auto);
    justify-content: space-around;
    align-items: center;
    gap: 15px;
        
    }
    .story-top-title{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .store-child-title{
        font-size:10px;
    }
    .store-bottom-info{
        padding: 4%;

      }
      .store-bottom-info time{
        font-size: 10px;
        top:-24px;
      }
      #store-child-box3{
        background-color: #95B226;
      }


  .left-store-one{
    display: none;

  }
  .store-child2, .store-child{
    display: grid;

  }
  .stor-one{
    width: 100%;
    margin: 0 auto;
  }


/* footer section style */
.footer{
   
   margin: 0 auto;
   margin:0px;
   
}
.footerr{
    margin: 0 auto;
    display: inline-block;
    padding: 4%;
    width: 92%;
}
.menu-footer-list{
    
    text-align: left;
}
.footer-manu-title, .footer-social-title{
    text-align: left;
    margin-left: 5%;
}
.footer-logo-title{
    font-size: 25px;
}
.footer-des{
    font-size: 14px;
    width: 200px;
}
.footer-logo-icon{
    width: 80px;
    height: 80px;
}
.footer-logo{
align-items: center;
}
.social-icon{
    text-align: left;
    padding-left: 5%;
}
        
    
    
}
