@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1440px;
  margin: 20 auto;
  border: 1px solid black;
}

/* nav bar section style */




.nav-bar{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:10px;

}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-right: 3rem;
}
ul li a{
    font-weight: bold;
    text-decoration: none;
}

.nav-btn{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 40px;
    border: none;
    border-radius: 12px;
    background-color: rgb(254, 163, 1);
    color: white;
}

/* hero section style */


.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    padding:0 auto;
    
}
.hero-section{
    
   
    text-align: left;
    margin-top: 71px;
    margin-right: 50PX;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(254, 163, 1);
}
#hero-title-fast{
color:black
}
#hero-title-two{
    color:rgb(1, 172, 253);
}
.hero-des{
    font-size: 1rem;
    width: 400px;
    
    color: rgba(0, 0, 0, 0.768);
}
.hero-btn{
    padding: 15px 40px;
    border:none;
    border-radius: 12px;
    background-color: black;
    color: white;
    
}
.hero-img{
    width: 450px;
    height: 500px;
}

/* card section style */
.card-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.cardbox{
    display: flex;
}





