@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
.header, .main{
    max-width: 1440px;
  margin: 20px auto;
}

/* nav bar section style */

.contact-btnn{
    background-color:rgb(254, 163, 1);
    padding:10px 30px;
    border: none;
    border-radius: 12px;
    color: white;
}

li{
    list-style: none;

}
.brand{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    gap:0px 30px;
}
.contact-btn{
    align-items: center;
    text-align: center;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#home{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
}
#about{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 600;
}
#Facilities{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 600;
}
#Admission{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 600;
}





/* hero section style */


.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.hero-section{
    
   
    text-align: left;
    margin-top: 71px;
    margin-right: 50PX;
}

.hero-title{
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(254, 163, 1);
}
#hero-title-fast{
color:black
}
#hero-title-two{
    color:rgb(1, 172, 253);
}
.hero-des{
    font-size: 1rem;
    width: 400px;
    
    color: rgba(0, 0, 0, 0.768);
}
.hero-btn{
    padding: 15px 40px;
    border:none;
    border-radius: 12px;
    background-color: black;
    color: white;
    
}
.hero-img{
    
}

/* card section style */
.card-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
    background-image:url(image/bg.png)
}
.cardbox{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; 
    margin-left: 12%;  
    margin-right: 12%;
}
.card-box1, .card-box2, .card-box3{
 
 text-align: center;
 align-items: center;
 border-radius: 18px;
 
}
.card-box1{
    border: .94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),
    rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin: 10px 10px;
}
.card-box2{
    border: .94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),
    rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin: 10px 10px;
}
.card-box3{
    border: .94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),
    rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin: 10px 10px;
}

.card-ime{
    
    justify-content: center;
    align-items: center;
    margin: 53px 117px 20px 117px;

}
.card-in-title{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.card-des{
    font-size: .9rem;
    font-weight: 500;
    color: rgb(128,128,128);
    text-align: center;
    line-height: 20px;
}
.card-btn{
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    color:rgb(100, 200, 255);
    background-color: white;
    border: none;
    margin: 28px;
}
.card-lest-btn{
    text-align: center;
}
#card-btn-left, #card-btn-right{
    font-size: 3rem;
    color: blueviolet;
    margin: 5px;
}

/* our stories section style */

.our-story{
   
    margin-bottom: 50px;
    margin-left: 6%;  
    margin-right: 6%;
  }
  .story-top-title{
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .full-story{
    
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%)

  }
  .grid-layout{
    display: flex;
    gap: 20px;
    

  }
  .left-layout{
    background-color: white;
    border-radius: 15px;
  }
  .left-layout time{
   background-color: #05D4DF;
   color: white;
   padding: 3% 5%;
   border-radius: 30px;
   position: relative;
   top:-40px;
   cursor: grab;
   text-wrap: nowrap;
  }
  .left-layout img,.right-layout img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .left-layout-info h3{
    font-size: 1.5rem;
  }
  .left-layout-info p{
   margin-top: 3rem;
   font-size: 20px;
  }
  .left-layout-info,.right-layout-info{
    padding: 5%;
  }
  .right-layout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    gap: 15px;
  }
  .right-layout-child{
    border-radius: 15px;
    background-color: white;
  }
  .right-layout time{
   background-color: #95B226;
   color: white;
   padding: 3% 5%;
   border-radius: 30px;
   margin-left: 5px;
   position: relative;
   top:-35px;
   cursor: grab;
   text-wrap: nowrap;
  }
  .right-layout .right-layout-box3{
    background-color: #5D58EF;
  }
  .view-all-btn{
    padding: 15px 40px;
    border:none;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
  }
.view-btn{
    text-align: center;
    padding-bottom: 40px;
}


.footer{
    max-width: 1440px;
    margin: 20px auto;

    padding:5% 0;
    margin-top: 3%;
    background-color:rgb(1, 59, 56) ;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;


    
}
.footer-logo-title{
    font-size: 2.8rem;
    font-weight:700;
    color: white;
    
}
.footer-des{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.719);
    text-align: left;
    width: 400px;
    margin-left: 10px;
}
.footer-logo-icon{
    filter: grayscale(rgb(207, 7, 7));
    width: 100px;
    height: 100px;
}

.footer-brand{
    display: block;
    margin-left: 20px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-menu{
    
    align-items: flex-start;
   
    
}
.footer-manu-title, .footer-social-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;

}
.menu-footer-list{
    
    text-align: left;
}
#ul{
    display: block;
    
    justify-content: left;
    
    
}
#li{
    justify-content: left;
    
}
#li a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    
    

}
.footer-social{
    justify-content: left;
   
}







